
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BokningSystem</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BokningSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Bokning.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="~/js/Home.js"></script>

</head>
<body>
    <header>

        <div class="top-bar">

            <div class="logo">



                <img src="BokningMVC/Image/logo.png" alt="Högskolan Väst Sjukhus Logotyp">


            </div>


            <nav class="main-nav">

                <ul>

                    <li><a href="#">StartSida</a></li>



                    <li class="dropdown">

                        <a href="#">Avdelning och Mottganing</a>

                        <ul class="dropdown-content">

                            <li><a href="#">Hitta Mottagning</a></li>

                            <li><a href="#">Ortopedi</a></li>

                            <li><a href="#">Kurorgi</a></li>

                            <li><a href="#">Vaccination</a></li>

                        </ul>

                    </li>

                    <li class="dropdown">

                        <a href="#">Patient</a>

                        <ul class="dropdown-content">

                            <li><a href="BokningMVC/Bokning/Login?roll=patient">Boka tid för besök</a></li>
                            <li><a href="#">Din Journal</a></li>

                            <li><a href="#">Boka tid för vaccination</a></li>

                            <li><a href="#">Vanliga Frågor</a></li>

                        </ul>

                    </li>


                    <li class="dropdown">

                        <a href="#">Jobb och Framtid</a>

                        <ul class="dropdown-content">

                            <li><a href="#">Lediga Tjänster</a></li>

                            <li><a href="#">Karriärvägar</a></li>

                        </ul>

                    </li>

                </ul>

            </nav>

            <nav class="secondary-nav">

                <ul>

                    <li><a href="#"><img src="BokningMVC/Image/aboutUs.png" alt="Om oss">Om oss</a></li>

                    <li><a href="#"><img src="BokningMVC/Image/karta.png" alt="Hitta oss">Hitta oss</a></li>

                    <li><a href="#"><img src="BokningMVC/Image/sprak.png" alt="Språk">Språk</a></li>


                    <li class="dropdown">
                        <a href="#">
                            <img src="@Url.Content("BokningMVC/Image/loggin.png")" alt="Logga in" />
                            Logga in
                        </a>
                        <ul class="dropdown-content">
                          <li>
                               <a asp-controller="Bokning" asp-action="Login" asp-route-roll="patient">Patient</a>
                          </li>
                          <li>
                          <a asp-controller="Bokning" asp-action="Login" asp-route-roll="personal">Personal</a>
                          </li>
                          <li>
                                <a asp-controller="Bokning" asp-action="Login" asp-route-roll="admin">Admin</a>
                          </li>
                        </ul>
                    </li>


                </ul>

            </nav>

        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="footer-container">
            
            <div class="footer-logo">
                <img src="BokningMVC/Image/logo.png" alt="Högskolan Väst Sjukhus Logotyp">
            </div>

          
            <div class="footer-column">
                <h3>TRYGG VÅRD ONLINE</h3>
                <ul>
                    <li><a href="#">Hitta Mottagning</a></li>
                    <li><a href="#">Primär vård</a></li>
                    <li><a href="#">Akutvård</a></li>
                    <li><a href="#">Specialistvård</a></li>
                    <li><a href="#">Vaccination</a></li>
                    <li><a href="#">Kontakta oss</a></li>
                    
                </ul>
            </div>

          
            <div class="footer-column">
                <h3>OM OSS</h3>
                <ul>
                    <li><a href="#">Kontakta oss</a></li>
                    <li><a href="#">Synpunkter på vården</a></li>
                    <li><a href="#">Vanliga frågor</a></li>
                </ul>
            </div>

   
            <div class="footer-column">
                <h3>SOCIALA MEDIER</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>

       
        <div class="footer-bottom">
         
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
